<!DOCTYPE html>
<html lang="en" ng-app="Modulo1">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>angularjs-cf</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script src="js/data-binding-ngmodel.js" charset="utf-8"></script>
</head>
<body>

  <div ng-controller="Controlador1">
    <strong>{{ hola  + ' ' + nombre }}</strong>
    <p>
      <input type="text" ng-model="nombre">
    </p>
    <p>
      <label for="autor">autor</label>
      <input type="text" id="autor" ng-model="nuevoComentario.autor">
    </p>
    <p>
      <label for="comentario">comentario</label>
      <input type="text" id="comentario" ng-model="nuevoComentario.comentario">
    </p>
    <p>
      <button type="button" name="button" ng-click="agregarComentario()">Agregar</button>
    </p>
    <hr>
    <h1>Comentarios</h1>
    <ul>
      <li ng-repeat="comentario in comentarios">
        {{ comentario.comentario }} - <code>{{ comentario.autor }}</code>
      </li>
    </ul>
  </div>

</body>
</html>
